body{
    margin:0;
    padding:0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
#gameboard{
    width: 300px;
    height: 300px;
    display:flex;
    background-color: black;
    flex-wrap: wrap;
    border:1px solid black;
}
.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border:solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid brown;
    transform: rotate(45deg);
}
.cross{
    height: 90px;
    width: 90px;
    position: relative;
}
.cross:before, .cross:after{
   content:"";
   position: absolute;
   background-color: darkslategray;
}
.cross:before{
  left: 50%;
  width: 30%;
  height: 100%;
  margin-left: -15%;
}
.cross:after{
    top: 50%;
    height: 30%;
    width: 100%;
    margin-top: -15%;
  }